<template>
  <section class="form">
    <form class="form__form" @submit.prevent="submit">
      <p class="form__error" v-if="isInvalid">Please make sure to provide a value bigger than 0.</p>
      <vue-numeric
        name="value"
        class="form__input"
        :class="inputClasses"
        v-model="value"
        currency="€"
        separator="."
        ref="input"
      />
      <button type="submit" class="form__submit" :disabled="isInvalid || isEmpty">Submit</button>
    </form>
  </section>
</template>

<script>
import VueNumeric from 'vue-numeric';

export default {
  name: 'AppForm',
  components: {
    VueNumeric,
  },
  data() {
    return {
      value: undefined,
    };
  },
  props: {
    submitKey: String,
  },
  methods: {
    submit() {
      this.$emit('submitted', this.value);
    },
    resetForm() {
      this.value = undefined;
    },
  },
  watch: {
    submitKey() {
      this.resetForm();
    },
  },
  computed: {
    isEmpty() {
      return this.value === 0 || this.value === undefined;
    },
    isValid() {
      return !this.isEmpty && this.value > 0;
    },
    isInvalid() {
      return !this.isEmpty && this.value < 0;
    },
    inputClasses() {
      return {
        'form__input--valid': this.isValid,
        'form__input--invalid': this.isInvalid,
        'form__input--empty': this.isEmpty,
      };
    },
  },
};
</script>

<style lang="postcss" scoped>
.form {
  &__form {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  position: relative;
  &__input {
    width: 100%;
    max-width: 320px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: 2px solid #dee1e3;
    color: #9aa1aa;
    border-radius: 50px;

    &:focus {
      color: var(--text-color);
      border-color: var(--primary-green);
      outline: none;
    }
    &--valid {
      border-color: var(--primary-green);
      color: var(--primary-green);
    }

    &--invalid {
      border-color: var(--error-red);
      color: var(--error-red);
    }
  }

  &__submit {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-top: 0.5rem;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 200% 100%;

    border-radius: 50px;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #8360c3, #764ba2, #2ebf91);
    background-position: 70% 0;

    &:hover {
      background-position: 100% 0;
    }

    &:disabled {
      background-image: linear-gradient(to right, #cfd9df 0%, #e2ebf0 100%);
    }
  }

  &__error {
    color: var(--error-red);
    font-size: 0.8rem;
    font-weight: bold;
    position: absolute;
    bottom: 100%;
    margin-bottom: 0.8rem;
  }
}

</style>
