<template>
  <section
    class="tab"
    :class="{'tab--isSelected': isSelected}"
    :style="`--flexBasis: ${flexBasis}`"
    @click="$emit('tabClicked')"
  >
    {{ title }}
  </section>
</template>

<script>
export default {
  name: 'AppTab',
  props: {
    title: String,
    isSelected: Boolean,
    flexBasis: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="postcss" scoped>
.tab {
  --flexBasis: 50%;
  cursor: pointer;
  flex-basis: var(--flexBasis);

  padding: 1rem;
  position: relative;
  text-transform: lowercase;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: -1;
  }

  &--isSelected:after {
    top: 0;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
</style>
