<template>
  <section class="tabs">
    <AppTab
      v-for="(tab, index) in tabs"
      :title="tab"
      :key="index" :isSelected="index === selectedTabIndex"
      :flexBasis="tabFlexBasis"
      @tabClicked="selectTab(index)"
    />
  </section>
</template>

<script>
import AppTab from '@/components/AppTab.vue';

export default {
  name: 'AppTabs',
  components: {
    AppTab,
  },
  data() {
    return {
      selectedTabIndex: 0,
    };
  },
  methods: {
    selectTab(index) {
      this.selectedTabIndex = index;
      this.$emit('tabSelected', this.tabs[index]);
    },
  },
  computed: {
    tabFlexBasis() {
      return `${100 / this.tabs.length}%`;
    },
  },
  props: {
    tabs: {
      type: Array,
      required: true,
    },
  },
  watch: {
    tabs() {
      this.selectTab(0);
    },
  },
};
</script>

<style lang="postcss" scoped>
.tabs {
  display: flex;
}
</style>
