<template>
  <div id="app" class="app" :class="appClasses">
    <AppTabs :tabs="rolesQue" @tabSelected="updateRole" />
    <section class="app__content">
      <AppForm v-if="rolesQue.length > 0" :submitKey="currentRole" @submitted="updateSalary" />

      <p class="app__status" v-if="isSuccess !== undefined">
        Offer was {{ isSuccess === true ?  'successful' : 'unsuccessful' }} <br>
        Employer maximum offer: {{ localizeSalary(salaries.employer) }}€ <br>
        Prospect minimum request: {{ localizeSalary(salaries.prospect) }}€
      </p>
    </section>
  </div>
</template>

<script>
import AppTabs from './components/AppTabs.vue';
import AppForm from './components/AppForm.vue';

export default {
  name: 'App',
  data() {
    const roles = ['employer', 'prospect'];
    return {
      roles,
      // Select first role as default
      currentRoleIndex: 0,
      // Create a copy of roles array to serve as a que
      rolesQue: [...roles],
      salaries: {},
      isSuccess: undefined,
    };
  },

  methods: {
    updateSalary(salary) {
      const { rolesQue } = this.$data;
      this.salaries[this.currentRole] = salary;

      // Get index of the processed role
      const spliceRoleIndex = rolesQue.findIndex(v => v === this.currentRole);
      // Remove processed role from the que
      rolesQue.splice(spliceRoleIndex, 1);

      // If there's nothing more to process, update status
      if (rolesQue.length === 0) this.updateStatus();
    },
    localizeSalary(salary) {
      // Convert salary to LocaleString to get separators
      return salary.toLocaleString('de');
    },
    updateRole(role) {
      this.currentRoleIndex = this.roles.findIndex(v => v === role);
    },
    updateStatus() {
      this.isSuccess = this.salaries.employer >= this.salaries.prospect;
    },
  },
  computed: {
    currentRole() {
      return this.roles[this.currentRoleIndex];
    },
    currentSalary() {
      return this.salaries[this.currentRole];
    },
    appClasses() {
      return {
        'app--success': this.isSuccess === true,
        'app--fail': this.isSuccess === false,
      };
    },
  },
  components: {
    AppTabs,
    AppForm,
  },

};
</script>

<style lang="postcss">
:root {
  --primary-green: #1abc9c;
  --violet: #8360c3;
  --error-red: #e74c3c;
  --text-color: #2c3e50;
}

body {
  background: linear-gradient(to right, var(--violet),  var(--primary-green));
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--text-color);
  margin-top: 4rem;
  max-width: 600px;
  width: 100%;
  margin: auto 2rem;

  &__content {
    background: white;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 5rem 2rem;
    position: relative;
  }

  &--success, &--fail {
    color: white;
  }

  &--success &__content {
    background: var(--primary-green);
  }

  &--fail &__content{
    background: var(--error-red);
  }
}
</style>
